[worldserver]

###################################################################################################
#Skip Death Knight Starting Area#
#################################
#
#    Skip.Deathknight.Optional.Enable
#    Enables the script on NPCs it's assigned to.
#    Default: 1 - (Active)

Skip.Deathknight.Optional.Enable = 1

#
###################################################################################################
